@charset "UTF-8";

/* ---------------------------------------------------------- *\
index.css
- Reset / Normalizar
- Header
- Main (About me)
- Footer

/* Reset CSS proporcionado por Eduardo Fierro en classroom: https://github.com/eduardofierropro */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
  overflow: visible;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  /* font-smooth: always; */
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

}

/* Filtro de color modo incógnito */
body .incognito {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  transition: filter 1s ease;
}

/* Animación de carga de página / transición */
/* Descripción: Animación de carga de la página
Estructura:
-waves__top
-waves__top.active
-waves__top.hidden
-waves__bottom
-waves__bottom.active
-waves__bottom.hidden

-Before
-After
- Incognito */
 .waves__top {
  width: 100%;
  height: calc(50vh);
  position: fixed;
  background-color: #A7FE2F;
  z-index: 6;
  top: 0;
  display: block;

  transform: translateY(-200%);
  transition: transform 1s ease;
}

.waves__top.active {
  transform: translateY(0);
}

.waves__top.hidden {
  display: none;
}

.waves__bottom {
  width: 100%;
  height: calc(50vh);
  position: fixed;
  background-color: #A7FE2F;
  z-index: 6;
  bottom: 0;
  display: block;

  transform: translateY(200%);
  transition: transform 1s ease;
}

.waves__bottom.active {
  transform: translateY(0%);
}

.waves__bottom.hidden {
  display: none;
}

/* Before */
.waves__bottom::before {
  width: 118%;
  height: 2rem;
  display: block;
  content: '';

  background-color: #A7FE2F;
  mask-image: url(/assets/masks/wavy-mask-top.svg);
  mask-repeat: repeat-x;
  mask-position: top;

  position: absolute;
  top: -2rem;
  right: 0;
}

/* After */
.waves__top::after {
  width: 100%;
  height: 2rem;
  display: block;
  content: '';

  background-color: #A7FE2F;
  mask-image: url(/assets/masks/wavy-mask-bottom.svg);
  mask-repeat: repeat-x;
  mask-position: bottom;

  position: absolute;
  bottom: -2rem;
  right: 0;
}

/* Incognito */
.waves__bottom.incognito::before {
  display: none;
}

.waves__top.incognito::after {
  display: none;
}

/* --------------- Inicio de Header --------------*/
/* Descripción: estilo  del Header en versión desktop. El header tiene
forma "wavy" y está fijado en la ventana. Tiene un estilo glassmorfista

Estructura:
- header
  - header__wrapper
  - header__mask
    - header__h1
    - nav__ul
      - nav__li
    - header__social
      - social__svg
      - social__button
        - social__button.hidden
        - social__button.invisible
    - lang
      - lang__a.hidden
    - mobile
      - mobile.hidden
      - mobile.invisible
    - toggle
      - toggle__checkbox
      - toggle__handle
    - toggle before and after
    - toggle hover
    - toggle inputs

  - Befores
  - Afters
  - Hovers
  - Incognito
*/

.header {
  width: 100%;
  min-height: 10vh;

  mask-image: url(/assets/masks/menu-mask.svg);
  mask-repeat: repeat-x;

  position: fixed;
  top: 0;

  z-index: 5;
  overflow: visible;
  background: radial-gradient(circle, rgba(188, 255, 64, 0.43)7%, rgba(62, 124, 33, 0.6) 100%);
  box-shadow: inset 0px 0px 82px -8px rgb(168, 255, 70);
  backdrop-filter: blur(.2rem);
  -webkit-backdrop-filter: blur(.2rem);

  animation: fadeInTop 1s ease 1 forwards;
}

.header__wrapper {
  width: 90%;
  margin: 1rem auto;

  display: grid;
  grid-template-columns: .5fr 2fr .5fr 1fr .5fr;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  overflow: visible;

  transition: all 1s ease;
  animation: fadeInTop 1s ease forwards;

  opacity: 1;
}

.header__mask {
  display: block;
  mask-repeat: repeat-x;
}

.header__h1 {
  width: 4rem;
  transform: scale(1);
  transition: transform .6s ease;
}

.nav__ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav__li {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: black;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;

  transition: background-color 1s ease,
    transform .6s ease;
}

.header__social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.social__svg {
  width: 1.9rem;
  height: 1.9rem;
  fill: black;
  transform: scale(1);
  transition: fill .6s ease,
    opacity 1s ease,
    transform .6s ease;
  cursor: pointer;
}

.social__button {
  width: 100%;
  height: 3rem;
  padding: 0 0 0 .6rem;

  display: none;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  text-transform: uppercase;
  font-size: 1.3rem;

  color: black;
  border: .125rem solid black;

  cursor: pointer;
  transition: opacity 1s ease;

  transform: scale(1);
  transition: all .6s ease;
}

.social__button.hidden {
  display: none;
}

.social__button.invisible {
  opacity: 0;
}

.lang {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: black;
  opacity: .6;

  transition: opacity .5s ease;
}

.lang__a.hidden {
  display: none;
}

/* Header Mobile */
.mobile {
  display: none;
}

.mobile.hidden {
  display: none;
}

.mobile.invisible {
  opacity: 0;
}

/* Toggle */
.toggle {
  display: inline-block;
  height: 2.125rem;
  width: 4.2rem;
  position: relative;
}

.toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__handle {
  border-radius: 2.125rem;
  background-color: black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .5s ease;
}

/* Toggle ::before and ::after */

.toggle__handle::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: .25rem;
  bottom: .25rem;
  background-color: #A7FE2F;
  transition:
    right 1s ease,
    left 1s ease,
    background-image .3s ease,
    transform .5s ease;
}

.toggle__handle::after {
  position: absolute;
  content: "";
  background-image: url(/assets/icons/alien-icon.svg);
  background-size: contain;
  height: 1.625rem;
  width: 1.625rem;
  right: .25rem;
  bottom: .25rem;
  transition:
    right 1s ease,
    left 1s ease,
    background-image .3s ease,
    transform .5s ease;
}

/* Toggle hovers */
.toggle__handle:hover {
  transform: scale(1.2);
}

/* Toggle inputs */
input:checked+.toggle__handle {
  background-color: darkgray;
}

input:checked+.toggle__handle:before {
  transform: translateX(1.9925rem);
  background-color: #0e0e0f;
}

input:checked+.toggle__handle:after {
  right: 0;
  left: .25rem;
  background-image: url(/assets/icons/user-icon.svg);
}

/* Befores */

.nav__li::before {
  content: '>';
  opacity: 0;
  transform: translateX(-50%);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* Hovers */

.header__h1:hover {
  transform: scale(1.2);
}

.nav__li:hover {
  color: black;
  background-color: blueviolet;
  transform: scale(1.2);
}

.nav__li:hover:before {
  opacity: 1;
  transform: translateX(0);
}

.social__svg:hover {
  fill: blueviolet;
  transform: scale(1.2);
}

.social__button:hover {
  background-color: blueviolet;
  color: #0e0e0f;
  font-weight: 700;
  transform: scale(1.1);
}

/* Incognito */
.header.incognito {
  width: 100%;
  mask-image: none;

  position: fixed;
  background: none;
  box-shadow: none;
  background-color: rgba(143, 136, 136, 0.7);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
}


/* --------------- Fin de Header ---------------*/

/* --------------- Inicio de About ---------------*/
/* Descripción: estilo de sección about

Estructura:
-about
  -about__wrapper
   -about__portrait
   -about__content
    -content__span
    -content__span.crossed
    -content__p
    -content__img

  -Afters
  - Incognito
*/

.about {
  width: 100%;
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-image: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0e0e0f;

}

.about__wrapper {
  margin-top: 6%;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #0e0e0f;
  border: .1rem solid #A7FE2F;

  animation: slideInLeft 2s ease 1 forwards;
}

.about__portrait {
  width: 40%;
  height: 80vh;
  object-fit: cover;
}

.content {
  width: 60%;
  height: 80vh;
  display: flex;
  padding: 2%;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: none;

  gap: 2rem;
}

.content__span {
  width: 99%;
  text-align: left;
  color: #A7FE2F;
}

.content__span.crossed {
  text-decoration: line-through;
}

.content__p {
  width: 99%;
  display: block;
  color: #A7FE2F;
  text-align: left;
  line-height: 1.7rem;
}

/* Afters */
.content::after {
  width: 60%;
  height: 5rem;
  content: '';

  background-image: url(/assets/about/horizontal__moons.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-top: 5%;
}

/* Incognito */
.about__portrait.incognito {
  filter: brightness(.6);
  -webkit-filter: brightness(.7);
}

/* --------------- Fin de About ---------------*/

/* Inicio Footer */
/* Descripción: estilo del footer. Esta sección es sencilla y 
solo contiene el logo y enlaces de navegación. 

Estructura:  
- footer
- footer__img
- footer__ul
  - footer__li
  - footer__span

- Befores
- Hovers
*/

.footer {
  width: 100%;
  padding: 5%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  transition: height .5s ease;


  background-image: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0e0e0f;
}

.footer.disabled {
  cursor: none;
}

.footer__img {
  width: 10rem;
}

.footer__ul {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  color: #A7FE2F;
  font-size: 1.6rem;
  text-align: center;
  gap: 2rem;
}

.footer__span {
  color: #a8fe2f51;
  text-align: center;
}

/* Befores */
.footer__a::before {
  content: '';
  opacity: 0;
  transition: opacity .6s ease;
}

/* Hovers */
.footer__a:hover:before {
  content: '>';
  opacity: 1;
}


@media (max-width: 1000px) {

  /* Header */
  .header {
    width: 100%;
    height: 1rem;
    margin: 0;

    mask-image: none;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    position: fixed;
    top: -100%;
    left: 0%;

    display: flex;

    animation: none;
    transition:
      top .5s ease;
    opacity: 1;
  }

  .header.active {
    top: 0%;
  }

  .header__wrapper {
    width: 100%;
    height: 100vh;
    padding: 5%;
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;

    background: radial-gradient(circle, rgba(156, 255, 64, 0.756)7%, rgba(25, 61, 8, 0.797) 100%);
    box-shadow: inset 0px 0px 82px -8px rgb(168, 255, 70);
    backdrop-filter: blur(.7rem);
    -webkit-backdrop-filter: blur(.7rem);

    transition: opacity .5s ease;
    position: fixed;
    opacity: 1;
  }

  .header__wrapper.hidden {
    display: none;
  }

  .header__wrapper.invisible {
    opacity: 0;
  }

  .mobile {
    width: 6rem;
    height: 6rem;

    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 4;

    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: transparent;

    opacity: 1;
    transition:
      left .5s ease,
      opacity .5s ease;

    mask-image: url(/assets/masks/mobile-menu-mask.svg);
    mask-repeat: no-repeat;
    mask-position: center;

    background: radial-gradient(circle, rgba(152, 205, 54, 0.43)7%, rgba(97, 193, 53, 0.6) 100%);
    box-shadow: inset 0px 0px 82px -8px rgb(148, 247, 35);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.2rem);

    animation: rotate 30s infinite linear both;
    transform: scale(1);
    display: block;
  }

  .mobile.invisible {
    left: -100%;
    opacity: 0;
  }

  .mobile.hidden {
    display: none;
  }

  .mobile__svg {
    width: 3rem;
    height: 3rem;
    fill: black;

    position: absolute;
    top: calc(50% - (3rem/2));
    left: calc(50% - (3rem/2));
    z-index: 4;

    transition:
      opacity 1s ease,
      transform .6s ease;
    cursor: pointer;

    animation: rotate 30s linear infinite both;
    animation-direction: reverse;
  }

  .mobile__svg:hover {
    transform: scale(1.2);
  }

  .nav__ul {
    width: 100%;
    display: flex;

    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav__li {
    width: 100%;
    font-size: 3rem;
    text-align: left;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    transform: translateX(-200%);
    transition: transform .3s ease;
    opacity: 0;
  }

  .nav__li.active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav__a {
    margin: 0 -2rem 0;
    transition: margin .5s ease;
  }

  .nav__a:hover {
    margin: 0;
  }

  .lang {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }

  .lang__li {
    font-size: 1.5rem;
  }

  .social {
    width: 100%;
    gap: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: all 1s ease;

  }

  .social__svg {
    width: 3rem;
    height: 3rem;
  }

  .social__button {
    width: 100%;
    height: 3rem;
    padding: 0 0 0 .6rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    text-transform: uppercase;
    font-size: 1.3rem;

    color: black;
    border: .125rem solid black;

    cursor: pointer;
    transition: opacity 1s ease;

    transform: scale(1);
    transition: all .6s ease;
  }

  .menu__svg {
    width: 3rem;
    height: 3rem;
  }

  .toggle {
    position: fixed;
    top: 5%;
    right: 5%;
  }

  /* About */
  .about__wrapper {
    min-height: 100vh;
    flex-flow: column nowrap;
  }

  .content {
    justify-content: space-between;
    width: 90%;
  }

  .content__p {
    width: 100%;
  }

  .content__span {
    width: 100%;
  }

  .about__portrait {
    width: 100%;
  }

  /* Footer */
  .footer {
    height: 70vh;
  }

  .footer__ul {
    width: 90%;
  }

  .footer__li {
    font-size: 1.7rem;
  }

  .footer__span {
    width: 90%;
    font-size: 1.2rem;
  }

  /* Incognito */
  .header.incognito {
    width: 100%;
    height: 6rem;
    display: block;
    transition:
      top .5s ease;
    opacity: 1;
    background: none;
  }

  .mobile.incognito {
    animation: none;
    mask: none;
    border-radius: 50%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile__svg.incognito {
    position: static;
    animation: none;
    animation-direction: reverse;
  }

}

@media (max-width: 600px) {

  /* Footer */
  .footer {
    height: 100vh;
  }

  .footer__ul {
    flex-flow: column nowrap;
  }

  .footer__li {
    width: 100%;
  }

  .footer__a {
    width: 100%;
  }
}

/* Animaciones */

@keyframes fadeInTop {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform:
      scale(0);
  }

  50% {
    opacity: 1;
    transform:
      scale(1.2);
  }

  100% {
    transform:
      scale(1);
  }
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform:
      translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}