/*  */

/* Reset CSS proporcionado por Eduardo Fierro en classroom: https://github.com/eduardofierropro */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.hero{
  width: 100%;
  height: 100vh;

  background-image: url('/assets/index/hero__background.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #131313;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
}
.logo{
  position: absolute;
  top: 25%;
    transform: translateZ(-4rem);
}

.logo__mask{
  display: block;
}
.logo__body{
  width: 33vw;
  clip-path: url(#body__mask);

  background: radial-gradient(circle, rgba(154,92,255,0.43) 47%, rgba(154,92,255,0.6) 100%);
  box-shadow: inset 0px 0px 82px -8px rgb(198, 55, 255);
  backdrop-filter: blur(6px);

  z-index: 0;
  margin: auto;
}
.logo__svg{
  width: 35vw;
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 2;

}
.hero__window{
  min-width: 30vw;
  max-width: 35vw;
  min-height: 19rem;
  background-color: #0A0A0B;
  color: #A7FE2F;
  border: #A7FE2F solid .0625rem;

  position: absolute;
  bottom: 10%;
  left: 5%;

  opacity: 1;

  box-shadow:
  inset 10rem 10rem 12rem -10rem rgba(168,254,47,.15),
  .3125rem .3125rem 1.3125rem -0.0625rem rgba(0,0,0,.9) ;

  transition:
  transform 1s ease,
  box-shadow 1s ease;
}
/* .hero__window:hover{

box-shadow:
inset -10rem -10rem 12rem -10rem rgba(168,254,47,.15),
-0.3125rem .6875rem 1.3125rem -0.0625rem rgba(0,0,0,0.9);

} */
.window__wrapper{
  border:#A7FE2F solid .0625rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.buttons{
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.window__name{
  margin: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
}
.buttons__svg{
  width: 2.5rem;
  height: 2.5rem;
  border: #A7FE2F solid .0625rem;
}
.buttons__min{
  margin: .5rem;
}
.buttons__close{
  margin: .5rem;
}

.window__content{
  margin: .5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  text-align: left;
  
  gap: .5rem;
}

.window__title{
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: .5rem;
}
.window__title::after{
  display: block;
  content: '';
  width: 80%;
  border: #A7FE2F dashed .0625rem;
  margin: .5rem 0 .5rem 0;
}
.window__h1{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.window__h1::before{
  display: inline-block;
  content: '*·.{';
  font-size: .8rem;
  font-weight: 400;
}
.window__h1::after{
  display: inline-block;
  content: '*·.{';
  transform: scaleX(-1);
  font-size: .8rem;
  font-weight: 400;
}

.window__subtitle{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  letter-spacing: .4rem;
}
.window__subtitle::before{
  display: inline-block;
  content: '*·.-';
  font-size: .8rem;
}
.window__subtitle::after{
  display: inline-block;
  content: '*·.-';
  transform: scaleX(-1);
  font-size: .8rem;
}
.window__ul{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.window__li{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}
.window__li::before{
  display: inline-block;
  content: '>';
}
.window__h2{}

.hero__window#exe{
  position: absolute;
  bottom: 5%;
  left: 8%;
}
.window__log{
  display: inline-block;
  margin: .5rem;
}

.hero__moons{
  width: 5vw;
  position: absolute;
  right: 5%;
}

/* Clases que se activan por JS */
.hidden{
  opacity: 0;
  pointer-events: none;
}