@charset "UTF-8";

/* ---------------------------------------------------------- *\
index.css
- Reset / Normalizar
- Header
- Hero

/* Reset CSS proporcionado por Eduardo Fierro en classroom: https://github.com/eduardofierropro */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
  overflow: visible;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  /* font-smooth: always; */
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  width: 100%;
  min-height: 10vh;

  mask-image: url(/assets/index/header__mask.svg);
  mask-repeat: repeat-x;

  position: fixed;

  z-index: 5;
  overflow: visible;

  background: radial-gradient(circle, rgba(154, 92, 255, 0.43) 47%, rgba(154, 92, 255, 0.6) 100%);
  box-shadow: inset 0px 0px 82px -8px rgb(198, 55, 255);
  backdrop-filter: blur(.2rem);
}

.header__wrapper {
  width: 90%;
  margin: .8rem auto 1.5rem;

  display: grid;
  grid-template-columns: .5fr 2fr .5fr 1fr .5fr;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  overflow: visible;
}

.header__mask {
  display: block;
  mask-repeat: repeat-x;
}

.nav {}

.nav__ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav__li {
  font-size: 1.09rem;
  text-transform: uppercase;
  color: #A7FE2F;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  transition: background-color 1s ease,
  transform .6s ease;
}
.nav__li::before{
  display: block;
  content: '>';
  opacity: 0;
  transform: translateX(-50%);
  transition:
  opacity 1s ease,
  transform 1s ease;
}
.nav__li:hover{
  color:#A7FE2F;
  background-color: black;
  transform: scale(1.2);
}
.nav__li:hover:before{
 opacity: 1;
 transform: translateX(0);
}

.header__social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.social__svg {
  width: 1.8rem;
  height: 1.8rem;
  fill: #A7FE2F;
  transform: scale(1);
  transition: fill .6s ease,
  transform .6s ease;
}
.social__svg:hover{
  fill: black;
  transform: scale(1.2);
}

.header__h1 {
  width: 4rem;
  transform: scale(1);
  transition: transform .6s ease;
}
.header__h1:hover{
  transform: scale(1.2);
}

.lang {
  font-size: 1.09rem;
  text-transform: uppercase;
  text-align: center;
  color: #A7FE2F;
  opacity: .6;

  transition: opacity .5s ease;
}

/* Header Mobile */
.mobile{
  display: none;
}

/* Toggle */
/* Switch */
.toggle {
  display: inline-block;
  height: 2.125rem;
  width: 4.2rem;
  position: relative;
}
/* Switch input */
.toggle__checkbox{
  opacity: 0;
  width: 0;
  height: 0;
}
/* Slider */
.toggle__handle{
  border-radius: 2.125rem;
  background-color:black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .5s ease;
}
.toggle__handle::before{
  border-radius: 50%;
position: absolute;
content: "";
height: 1.625rem;
width: 1.625rem;
left: .25rem;
bottom: .25rem;
background-color:#A7FE2F;
transition:
right 1s ease,
left 1s ease,
background-image .3s ease,
transform .5s ease;
}
.toggle__handle::after{
  position: absolute;
  content: "";
  background-image: url(/assets/index/alien.svg);
  background-size: contain;
  height: 1.625rem;
  width: 1.625rem;
  right: .25rem;
  bottom:.25rem;
  transition:
  right 1s ease,
  left 1s ease,
  background-image .3s ease,
  transform .5s ease;
}
input:checked + .toggle__handle{
  background-color: darkgray;
}

input:checked + .toggle__handle:before{
  transform: translateX(1.9925rem);
  background-color: #131313;
}

input:checked + .toggle__handle:after{
  right: 0;
  left: .25rem;
  background-image: url(/assets/index/user.svg);
}
.toggle__handle:hover{
  transform: scale(1.2);
}



/* Hero Content */
/* Descripción: Estilo para el main/hero
  Estructura:
    -hero
    -hero__wrapper logo
      -logo__mask
      -logo__body
      -logo__svg
    -info__window window
      -window__wrapper
      -window__wrapper button
      -window__name
      -button__svg
      -button__min
      -button__close
      -button__res
      -window__content
      -window__title
      -window__h1
      -window__subtitle
      -window__ul
      -window-li
      -window__log
    -hero__moons
    -hero__smiley

    -Clases activadas por JS
    -Hover
    -Media Queries
    -Animaciones
*/

.hero {
  width: 100vw;
  min-height: 100vh;

  background-image: url('/assets/index/hero__background.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #131313;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
}

.logo {
  width: 35%;
  height: 35vh;
  position: absolute;
  margin: 0 4rem 0 0;
  z-index: 1;

  transition:
    width 1s ease,
    margin 1s ease;

  animation: logo 20s ease infinite forwards;

  top: 12%;
  left: calc((100% - 35%)/ 2.2);
}

.logo__mask {
  display: block;
}

.logo__body {
  clip-path: url(#body__mask);

  background: radial-gradient(circle, rgba(154, 92, 255, 0.43) 47%, rgba(154, 92, 255, 0.6) 100%);
  box-shadow: inset 0px 0px 82px -8px rgb(198, 55, 255);
  backdrop-filter: blur(.2rem);

  z-index: 0;
  margin: auto;

  animation: popIn 2s ease 1 forwards;
}

.logo__svg {
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 2;
  transform: scale(1.1);
}

.eye__first {
  animation: popIn 1s ease 1 backwards;
  animation-delay: .4s;
  transform-origin: center;
}

.eye__second {
  animation: popIn 1s ease 1 backwards;
  animation-delay: .6s;
  transform-origin: center;
}

.eye__third {
  animation: popIn 1s ease 1 backwards;
  animation-delay: .8s;
  transform-origin: center;
}

.snout {
  animation: popIn 1s ease 1 backwards;
  animation-delay: 1s;
  transform-origin: bottom;
}

.info {
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 55%;

  opacity: 1;
  transition: opacity 1s ease;
}

.info__window {
  width: 35%;
  min-width: 18rem;
  position: absolute;

  transform:
    rotateY(10deg) skewY(-5deg) translateZ(-5rem);

  transition:
    all .5s ease;

  cursor: pointer;
  animation: slideInLeft 1s ease 1 backwards;
  animation-delay: 1s;
}

.window__wrapper {
  width: 100%;
  border: #A7FE2F solid .10rem;
  background-color: black;
  color: #A7FE2F;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

.window__wrapper .button {
  border: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.window__name {
  margin: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .2rem;
}

.button__svg {
  width: 2.5rem;
  height: 2.5rem;
  border: #A7FE2F solid .0625rem;
}

.button__min {
  margin: .5rem;
  cursor: pointer;

  transition: background-color 1s ease;
}

.button__close {
  margin: .5rem;
  cursor: pointer;

  transition: background-color 1s ease;
}

.button__res {
  margin: .5rem;
  cursor: pointer;

  transition: background-color 1s ease;
}

.window__content {
  width: 100%;
  height: 15rem;
  background-color: black;
  color: #A7FE2F;
  border-top: none;
  border-bottom: #A7FE2F solid .10em;
  border-left: #A7FE2F solid .10em;
  border-right: #A7FE2F solid .10em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  text-align: left;

  gap: .5rem;
  opacity: 1;

  transform: scale(1);

  transition:
    opacity .3s ease;
}

.window__title {
  width: 95%;
  margin: .5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;

  gap: .5rem;
}

.window__title::after {
  display: block;
  content: '';
  width: 80%;
  border: #A7FE2F dashed .0625rem;
  margin: .5rem 0 .5rem 0;
}

.window__h1 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.window__h1::before {
  display: inline-block;
  content: '*·.{';
  font-size: .8rem;
  font-weight: 400;
}

.window__h1::after {
  display: inline-block;
  content: '*·.{';
  transform: scaleX(-1);
  font-size: .8rem;
  font-weight: 400;
}

.window__subtitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.window__subtitle::before {
  display: inline-block;
  content: '*·.-';
  font-size: .8rem;
}

.window__subtitle::after {
  display: inline-block;
  content: '*·.-';
  transform: scaleX(-1);
  font-size: .8rem;
}

.window__ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin: .5rem;

}

.window__li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5rem;
}

.window__li::before {
  display: inline-block;
  content: '>';
}

.window__log {
  display: inline-block;
  margin: .5rem;
  cursor: text;
}

.hero__moons {
  width: 10vw;
  height: 80vh;
  position: absolute;
  right: 5%;
  top: calc(50% - (80vh / 2.2));

  transition:
    height 1s ease-in-out,
    position 1s ease;

  animation: popIn 1s ease 1 backwards;
  animation-delay: 1.4s;
}

.hero__smiley {
  width: 10vw;
  position: absolute;
  left: 5%;
  bottom: 7%;

  transition: width 1s ease;
  animation: popIn 1s ease 1 backwards;
}

/* Hovers */
.button__close:hover {
  color: black;
  background-color: #A7FE2F;
}

.button__min:hover {
  color: black;
  background-color: #A7FE2F;
}

.button__res:hover {
  color: black;
  background-color: #A7FE2F;
}

/* Selección de texto */
.window__log::selection {
  color: black;
  background-color: #A7FE2F;
}

/* Fin de hero content */

/* Inicio de Services (Mobile only)  */
.services{
  width: 100vw;
  background-color: #A7FE2F;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;
}
.services__ul{
  width: fit-content;
  height: 4rem;
  top: calc(50% - (4rem/2));

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  white-space: nowrap;

  animation: scroll 10s infinite linear ; 
}
.services__li{
  margin:0;
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing: .5rem;
}

/* Fin de Services */



/* Clases que se activan por JS */
.front {
  bottom: 10%;
  left: 8%;

  z-index: 4;
}

.back {
  bottom: 13%;
  left: 5%;

  z-index: 3;
  filter: blur(.1rem);
}

.winHover {
  transform:
    rotateY(0deg) skewY(0deg) translateZ(5rem) scale(1.1);

  z-index: 4;
}

.hidden {
  display: none;
  cursor: default;
}

.minimized {
  opacity: 0;
}

.closed {
  opacity: 0;
  transform: scale(0.1);
}

.invisible {
  opacity: 0;
}

/* Adaptaciones responsive */
/* Medidas comunes:
1920×1080 (escritorio grande)
1440×900 (escritorio medio)
*1366×768 (ordenador portátil medio)
*720×1280 (móvil grande) 
375×667 (móvil medio)
360×640 (móvil pequeño)*/


@media (max-width: 1336px) {

  /* Main */
  .hero {
    height: 100vh;
    gap: 5rem;
    padding: 0%;
    display: block;
    position: relative;
  }

  .logo {
    width: 40%;
    height: 30rem;
    position: absolute;
    top: 8%;
    left: calc((100% - 40%)/2.5);
  }

  .info {
    width: 100%;
    height: 17rem;
    position: absolute;
    top: 55%;
  }

  .info__window {
    width: 55%;
    position: absolute;
  }

  .front {
    bottom: 2%;
    left: 28%;
  }

  .back {
    bottom: 15%;
    left: 20%;
  }

  .window__wrapper {
    background-color: black;
    color: #A7FE2F;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

  }

  .window__content {
    width: 100%;
    height: 14rem;
  }

  .hero__moons {
    height: 55vh;
    top: calc(50% - (55vh / 2.2));
    right: 4%;
  }
}

@media (max-width: 720px) {
  /* Header */
  .header{
    width: 100%;
    min-height: 1rem;

    mask-image: none;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;

    position: fixed;
    top: -2%;
    left: 0;

    display: block;
  }

  .header__wrapper{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: 5;

    top: -2%;
    left: 0;
    background-color:#131313;

    display: flex;
    flex-flow: column nowrap;
  }
  .mobile{
    display: block;
    width: 6rem;
    min-height: 6rem;
    position: absolute;
    left: 4%;
    margin-top: 4%;
    z-index: 4;
    background-color: transparent;
  }
  .mobile__svg{
    width: 3rem;
    height: 3rem;
    fill: #A7FE2F;
    position: absolute;
    top: calc(50% - (3rem / 2));
    left: calc(50% - (3rem / 2));
    z-index: 4;
    transition: transform .6s ease;
  }
  .mobile__svg:hover{
    transform: scale(1.2);
  }
  .mobile__background{
    width: 100%;
    min-height: 6rem;
    mask-image: url(/assets/index/header__mobile__mask.svg);
    mask-repeat: no-repeat;
    background: radial-gradient(circle, rgba(154, 92, 255, 0.43) 47%, rgba(154, 92, 255, 0.6) 100%);
    box-shadow: inset 0px 0px 82px -8px rgb(198, 55, 255);
    backdrop-filter: blur(.2rem);
    animation: rotate 30s infinite ease both;
  }
  .header__h1{}
  .nav{}
  .nav__ul{
    fle
  }
  .nav__li{}
  .nav__a{}
  .lang{}
  .lang__li{}
  .social{}
  .social__li{}
  .social__a{}
  .social__svg{}
  .toggle{}

  /* Main */
  .hero {
    min-height: 60vh;
    max-height: 65vh;
    padding: 1%;
    justify-content: center;
    gap: 1.5rem;
  }

  .logo {
    width: 55%;
    height: 15rem;
    margin: 0 3rem 2rem 0;
    left: calc((100% - 55%)/2.2);
    top: calc(50% - (15rem/2));
  }

  .info {
    width: 100%;
    height: 17rem;
    position: absolute;
    top: 55%;
  }

  .info__window {
    width: 65%;
    position: absolute;
  }

  .front {
    bottom: 2%;
    left: 25%;
  }

  .back {
    bottom: 15%;
    left: 10%;
  }

  .window__content {
    width: 100%;
  }

  .hero__smiley {
    width: 13vw;
    right: 4%;
  }

  .hero__moons {
    height: 40vh;
    top: calc(50% - (40vh /2));
    right: 4%;
  }
}

@media (max-width: 480px) {
  .hero {
    min-height: 50vh;
    height: 50vh;
  }

  .logo {
    width: 55%;
    height: 15rem;
    height: fit-content;
    top: calc(50% - (15rem/2));
  }
}


/* Animaciones */

@keyframes popIn {
  0% {
    opacity: 0;
    transform:
      scale(0);
  }

  50% {
    opacity: 1;
    transform:
      scale(1.2);
  }

  100% {
    transform:
      scale(1);
  }
}

@keyframes logo {
  0% {
    transform:
      rotate(-10deg);
  }

  50% {
    transform:
      rotate(10deg);
  }

  100% {
    transform:
      rotate(-10deg);
  }

}

@keyframes scroll {
  from {
    transform: translateX(2 0vw);
  }
  to{
    transform: translateX(-220vw);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    opacity: 1;
    transform:
      translateX(0) rotateY(10deg) skewY(-5deg) translateZ(-5rem);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}