@charset "UTF-8";

/* ---------------------------------------------------------- *\
index.css
- Reset / Normalizar
- Tabs
- Folders
- Proyectos
- Media Queries
- Animaciones
  */

  /* Reset CSS proporcionado por Eduardo Fierro en classroom: https://github.com/eduardofierropro */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
  overflow: visible;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  /* font-smooth: always; */
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;

  /* Background */
  background-color: #0e0e0f;
}

/* Filtro de color modo incógnito */
body .incognito {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  transition: all 1s ease;
}

/* Animación de carga de página / transición */
/* Descripción: Animación de carga de la página
Estructura:
-waves__top
-waves__top.active
-waves__top.hidden
-waves__bottom
-waves__bottom.active
-waves__bottom.hidden

-Before
-After
-Incognito

*/
.waves__top {
  top: 0;
  transform: translateY(-200%);
}

.waves__bottom {
  bottom: 0;
  transform: translateY(200%);
}

.waves__top,
.waves__bottom {
  width: 100%;
  height: calc(50vh + 2rem);
  position: fixed;
  background-color: #A7FE2F;
  z-index: 6;
  display: block;
  transition: transform 1s ease;
}

.waves__top.active,
.waves__bottom.active {
  transform: translateY(0);
}

.waves__top.hidden,
.waves__bottom.hidden {
  display: none;
}

/* Before */
.waves__bottom::before {
  width: 118%;
  height: 2rem;
  display: block;
  content: '';

  background-color: #A7FE2F;
  mask-image: url(/assets/masks/wavy-mask-top.svg);
  mask-repeat: repeat-x;
  mask-position: top;

  position: absolute;
  top: -2rem;
  right: 0;
}


/* After */
.waves__top::after {
  width: 100%;
  height: 2rem;
  display: block;
  content: '';

  background-color: #A7FE2F;
  mask-image: url(/assets/masks/wavy-mask-bottom.svg);
  mask-repeat: repeat-x;
  mask-position: bottom;

  position: absolute;
  bottom: -2rem;
  right: 0;
}

/* Incognito */
.waves__bottom.incognito::before {
  display: none;
}

.waves__top.incognito::after {
  display: none;
}

/* --------------- Inicio de Header --------------*/
/* Descripción: estilo  del Header en versión desktop. El header tiene
forma "wavy" y está fijado en la ventana. Tiene un estilo glassmorfista

Estructura:
- header
  - header__wrapper
  - header__mask
    - header__h1
    - nav__ul
      - nav__li
    - header__social
      - social__svg
      - social__button
        - social__button.hidden
        - social__button.invisible
    - lang
      - lang__a.hidden
    - mobile
      - mobile.hidden
      - mobile.invisible
    - toggle
      - toggle__checkbox
      - toggle__handle
    - toggle before and after
    - toggle hover
    - toggle inputs

  - Befores
  - Afters
  - Hovers
  - Incognito
*/

.header {
  min-height: 10vh;
  position: fixed;
  overflow: visible;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  inset: 0 0 100% 0;
}

.header::after {
  content: '';
  height: 2rem;
  position: absolute;
  mask-image: url(/assets/masks/wavy-mask-bottom.svg);
  mask-position: bottom;
  bottom: -2rem;
}

.header,
.header::after {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  backdrop-filter: blur(.4rem);
  -webkit-backdrop-filter: blur(.4rem);
  animation: fadeInTop 1s ease 1 forwards;
  z-index: 5;
}

.header__wrapper {
  width: 90%;
  grid-template-columns: .5fr 2fr .5fr 1fr .5fr;
  transition: al 1s ease;
  align-items: center;
  animation: fadeInTop 1s ease forwards;
}

.header__h1 {
  width: 4.5rem;
}

.header__h1,
.social__svg {
  transform: scale(1);
  transition: transform .6s ease;
}

.nav__ul {
  grid-template-columns: repeat(4, 1fr);
}

.header__wrapper,
.nav__ul {
  display: grid;
  gap: 1rem;
}

.nav__li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  transition: background-color 1s ease,
    transform .6s ease;
}

.nav__li,
.lang {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #A7FE2F;
  text-align: center;
}

.header__social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.social__svg {
  width: 1.9rem;
  height: 1.9rem;
  fill: #A7FE2F;
  transition: fill .6s ease,
    opacity 1s ease,
    transform .6s ease;
  cursor: pointer;
}

.social__button{
  width: 100%;
  height: 3rem;
  padding: 0 0 0 .6rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #A7FE2F;
  border: #A7FE2F .125rem solid;
}

.social__button,
.social__button.hidden,
.lang__a.hidden {
  display: none;
}

.social__button.invisible {
  opacity: 0;
}

.lang {
  opacity: .6;
  transition: opacity .5s ease;
}

/* Header Mobile */
.mobile {
  display: none;

  mask-image: url(/assets/masks/mobile-menu-mask.svg);
  mask-repeat: no-repeat;
  mask-position: center;

  animation: rotate 30s infinite linear both;
  transform: scale(1);
  display: block;
}

.mobile.hidden {
  display: none;
}

.mobile.invisible {
  opacity: 0;
}

/* Toggle */
.toggle {
  display: inline-block;
  height: 2.125rem;
  width: 4.2rem;
  position: relative;
}

.toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__handle {
  border-radius: 2.125rem;
  background-color: black;
  position: absolute;
  cursor: pointer;
  inset: 0;
  transition: all .5s ease;
}

/* Toggle ::before and ::after */

.toggle__handle::before {
  border-radius: 50%;
  left: .25rem;
  background-color: #A7FE2F;
}

.toggle__handle::after {
  background-image: url(/assets/icons/alien-icon.svg);
  background-size: contain;
  right: .25rem;
}

.toggle__handle::before,
.toggle__handle::after {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  transition:
    inset 1s ease,
    background-image .3s ease,
    transform .5s ease;
  bottom: .25rem;
}

/* Toggle hovers */
.toggle__handle:hover {
  transform: scale(1.2);
}

/* Toggle inputs */
input:checked+.toggle__handle {
  background-color: darkgray;
}

input:checked+.toggle__handle:before {
  transform: translateX(1.9925rem);
  background-color: #0e0e0f;
}

input:checked+.toggle__handle:after {
  right: 0;
  left: .25rem;
  background-image: url(/assets/icons/user-icon.svg);
}

/* Befores */

.nav__li::before {
  content: '>';
  opacity: 0;
  transform: translateX(-50%);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* Hovers */

.header__h1:hover {
  transform: scale(1.2);
}

.nav__li:hover {
  color: #A7FE2F;
  background-color: black;
  transform: scale(1.2);
}

.nav__li:hover:before {
  opacity: 1;
  transform: translateX(0);
}

.social__svg:hover {
  fill: black;
  transform: scale(1.2);
}

/* Incognito */
.header.incognito {
  width: 100%;
  position: fixed;
  background-color: rgba(27, 24, 24, 0.7);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  inset: 0 100% 100% 0;
}

.header.incognito::after {
  display: none;
}

/* --------------- Fin de Header ---------------*/

/* --------------- Inicio de Tabs --------------*/
/* Descripción: estilo de las tabs de selección de categoría.
Esta sección está fixed para asegurar su acceso en todo momento.
Tiene forma wavy y estilo glassmorfista */

/* Estructura:

-tabs
  -tabs__ul
    -tabs__li
    -tabs__button
  
  -befores
  -afters
  -hovers
  -incognito

*/
.tabs {
  width: 100%;
  height: 26vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: rgba(137, 43, 226, 0.8);
  backdrop-filter: blur(.4rem);
  -webkit-backdrop-filter: blur(.4rem);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


.tabs__ul {
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  position: relative;
  top: 20%;
}

.tabs__li {
  width: calc(100% / 3);
  min-height: 3rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: blueviolet;
  color: #A4FE2F;
  border: #A4FE2F .1rem solid;

  animation: popIn 1s ease 1 forwards;
  transition:
    background-color .6s ease,
    color .6s ease;

  cursor: pointer;
}

.tabs__button {
  margin: 0 .5rem;
  text-transform: lowercase;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: .5rem;
  cursor: pointer;
}

.tabs__li.active {
  color: #A4FE2F;
  background-color: black;
}

/* Befores */
.tabs__button::before {
  display: block;
  content: '';
}

.tabs__li.active::before {
  display: block;
  content: '>';
}

/* Afters */
.tabs::after {
  width: 100%;
  height: 2rem;
  display: block;
  content: '';

  mask-image: url(/assets/masks/wavy-mask-bottom.svg);
  mask-repeat: repeat-x;
  mask-position: bottom;

  position: absolute;
  bottom: -2rem;

  background-color: rgba(137, 43, 226, 0.8);

  /* BUG? El backdrop filter no se está aplicando */
  backdrop-filter: blur(.4rem);
  -webkit-backdrop-filter: blur(.4rem);

}

/* Hovers */
.tabs__li:hover {
  background-color: #A4FE2F;
  color: black;
}

/* Incognito */
.tabs{
  height: 30vh;
}
.tabs.incognito::after{
  display: none;
}

/* ---------------- Fin de Tabs ----------------- */

/* ------------- Inicio de Folders ---------------*/
/* Descripción: Estilo de las "carpetas" de selección de proyecto.
Esta sección está fixed al bottom para asegurar su acceso en todo momento.
También tiene estilo glassmorfista */

/* Estructura:
-folder
-folder.hidden
  -folder__ul
    -folder__li
    -folder__li.active
      -folder__button
      -folder__button.active
      -folder__h2

-hovers
*/

.folder {
  height: 15vh;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 3%;

  z-index: 2;
}

.folder.hidden {
  display: none;
}

.folder__ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4%;

}

.folder__li {
  width: 8rem;
  height: 8rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  border-radius: 1rem;
  background-color: rgba(28, 6, 49, 0.692);
  backdrop-filter: blur(.4rem);
  -webkit-backdrop-filter: blur(-6rem);
  outline: .1rem solid #A4FE2F;

  animation: popIn 1s ease 1 forwards;
  transition: background-color .9s ease, outline .6s ease;
  cursor: pointer;
}

.folder__li.active {
  background-color: blueviolet;
  outline: .3rem solid #A4FE2F;
}

.folder__button {
  width: 100%;
  height: 3rem;

  background-image: url(/assets/icons/folder-close.svg);
  background-repeat: no-repeat;
  background-position: center;

  transform: scale(1);
  transition: transform .6s ease, background-image .3s ease;
  cursor: pointer;
}

.folder__button.active {
  background-image: url(/assets/icons/folder-open.svg);
  background-position: center;
}

.folder__h2 {
  color: #A4FE2F;
  text-align: center;
  margin: 0 2%;
}

/* Hovers */
.folder__li:hover {
  background-color: black;
  outline: .3rem solid #A4FE2F;
}
.folder__li:hover .folder__button {
  transform: scale(.9);
}
/* ---------------- Fin de Folders ------------- */

/* ------------ Inicio de Proyectos --------------*/
/* Descripción: Estilo de la galería de proyectos.
Esta sección contiene información sobre los proyectos,
un grid de imágenes y vídeos, y el software utilizado */
/* 
-article
-article.hidden
  -article__window
    -article__title
    -article__h3
    -article__p

  -article__ul
    -article__li
    -article__a
    -article__a.download

  -article__gallery
    -article__video
    -article__img

  -software
    -software__wrapper
      -software__span
      -sofrware__img

-Befores
-Hovers
-incognito
  
*/

.article {
  width: 100%;
  min-height: 100vh;
  margin: 35vh auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;
  z-index: 0;

  animation: slideInBottom 1s ease forwards;
}

.article.hidden {
  display: none;
}

.article__window {
  width: 90%;
  min-height: 30vh;
  background-color: black;
  color: #A4FE2F;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: .1rem solid #A4FE2F;
}

.article__title {
  width: 100%;
  border-bottom: .1rem solid #A4FE2F;
}

.article__h3 {
  width: 100%;
  height: 2.5rem;
  padding: 2%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.article__p {
  width: 100%;
  padding: 2%;
}

.article__ul {
  width: 90%;
  min-height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.article__li {
  width: calc(95%/2);
  background-color: blueviolet;
  color: #A4FE2F;
  border: .1rem solid #A4FE2F;

  transform: scale(1);
  transition: transform .6s ease,
    background-color .6s ease;
}

.article__a {
  width: 100%;
  margin: 2%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.article__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article__img{
  width: 100%;
  /* transition: transform .5s ease; */
}
.article__video {
  width: 100%;
  /* transition: transform .5s ease; */
}


/* Display de los vídeos por tamaño */

/* .big{
  display: none;
} */
.medium{
  display: block;
}
.small{
  display: none;
}

/* -------------------------------- */

.article__img {
  width: 100%;
}

.software {
  width: 90%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.software__wrapper {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.software__span {
  width: 25%;
  color: #A4FE2F;
  text-transform: uppercase;
  font-size: 2rem;
}

.software__img {
  width: 4rem;
  height: 4rem;
}

/* Befores */
.article__a::before {
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';

  background-image: url(/assets/icons/figma-icon.svg);
  background-repeat: no-repeat;
}

.download::before {
  background-image: url(/assets/icons/pdf-file-icon.svg);
}

/* Hovers */
.article__li:hover {
  transform: scale(.9);
  background-color: black;
  color: #A4FE2F;
}

/* Incognito */
.article__img.incognito{
  filter: brightness(.6);
  -webkit-filter: brightness(.6);
}
.article__video.incognito{
  filter: brightness(.6);
  -webkit-filter: brightness(.6);
}

/* ------------- Fin de proyectos ---------------*/

/* ------------- Media Queries ----------------*/

@media (min-width: 1920px){
  .nav__li{
    font-size: 1.7rem;
  }
  .tabs__ul{
    justify-content: space-between;
  }
  .tabs__li{
    width: 30%;
   font-size: 1.6rem;
  }

  .article__window{
    font-size: 1.5rem;
  }
  .folder__li{
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  /* Header */
  .header{
    width: 100%;
    position: fixed;
    height: 0rem;
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    inset: -100% 0 0 0;
    display: block;
    animation: none;
    transition:
      inset .2s ease;
  }

  .header::after {
    display: none;
  }

  .header.active {
    inset: 0 0 0 0;
  }

  .header__wrapper {
    width: 100%;
    height: 100vh;
    padding: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;

    gap: 4rem;
    background: rgba(24, 3, 44, 0.8);
    backdrop-filter: blur(.7rem);
    -webkit-backdrop-filter: blur(.7rem);
    transition: opacity .4s ease;
    position: fixed;
    opacity: 1;
  }

  .header__wrapper.hidden,
  .mobile.hidden {
    display: none;
  }

  .header__wrapper.invisible {
    opacity: 0;
  }

  .mobile {
    width: 4.5rem;
    height: 4.5rem;
    position: fixed;
    inset: 2% 0 0 2%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.607);
    opacity: 1;
    transition:
      left .5s ease,
      opacity .5s ease;
  }

  .mobile.invisible {
    inset: 0 0 0 -10%;
    opacity: 0;
  }

  .mobile__svg {
    width: 3rem;
    height: 3rem;
    fill: #A7FE2F;

    position: absolute;
    top: calc(50% - (3rem/2));
    left: calc(50% - (3rem/2));
    z-index: 4;

    transition:
      opacity 1s ease, fill .6s ease;
    cursor: pointer;

    animation: rotate 30s linear infinite both;
    animation-direction: reverse;
  }

  .mobile__svg:hover {
    fill: black;
  }

  .nav__ul,
  .nav__li,
  .lang {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav__ul {
    width: 100%;
    flex-flow: column nowrap;
  }

  .nav__li {
    width: 100%;
    font-size: 3rem;
    text-align: left;
    transform: translateX(-200%);
    transition: transform .3s ease;
    opacity: 0;
  }

  .nav__li.active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav__a {
    margin: 0 -2rem 0;
    transition: margin .5s ease;
  }

  .nav__a:hover {
    margin: 0;
  }

  .lang {
    gap: 2rem;
  }

  .lang__li {
    font-size: 1.5rem;
  }

  .social {
    width: 100%;
    gap: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: all 1s ease;

  }

  .social__svg {
    width: 3rem;
    height: 3rem;
  }

  .social__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
    transition: opacity 1s ease;
    cursor: pointer;
    transition: all .6s ease;
  }

  .social__button:hover {
    background-color: #A7FE2F;
    color: #0e0e0f;
    font-weight: 700;
    transform: scale(1.1);
  }

  .menu__svg {
    width: 3rem;
    height: 3rem;
  }

  .toggle {
    position: fixed;
    top: 5%;
    right: 5%;
  }

  /* Tabs */
  .tabs {
    height: 25vh;
  }

  .tabs__span {
    text-align: center;
  }

  /* Folders */
  .folder__li {
    width: 6.5rem;
  }

  /* Projects */
  .article__gallery {
    grid-template-columns: repeat(1, 1fr);
  }

      /* Incognito */
      .header.incognito {
        background: transparent;
        display: block;
      }
  
      .mobile.incognito {
        animation: none;
        mask: none;
        border-radius: 50%;
        top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .mobile__svg.incognito {
        position: static;
        animation: none;
      }
  
      .header__wrapper.incognito{
        background: #0e0e0f;
        transition: all 1s ease;
      }

}

@media (max-width: 720px){
  .big{
    display: none;
  }
  .medium{
    display: block;
  }
  .small{
    display: none;
  }
}

@media (max-width: 600px) {

  /* Tabs */
  .tabs__span {
    text-align: right;
  }

  /* Projects */
  .article {
    margin-bottom: 50%;
  }

}

@media (max-width: 480px){
  .big{
    display: none;
  }
  .medium{
    display: none;
  }
  .small{
    display: block;
  }
}

/* -------------- Animaciones -------------*/
@keyframes popIn {
  from {
    transform: scale(.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}